{% extends "base.html" %}
{% block subheader %}
<nav class="border-bottom bg-body">
    <div class="container d-flex flex-wrap">
        <div class="nav p-2 me-auto">
        {% for id, provider in all_providers.items() %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ id }}" name="provider" value="{{ id }}" {{ "checked" if id in providers }}>
                <label class="form-check-label" for="{{ id }}">{{ provider.name }}</label>
            </div>
        {% endfor %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/feed?q={{ query }}{% for p in providers %}&providers={{ p }}{% endfor %}" target="blank" class="nav-link link-body-emphasis px-2"><i class="bi bi-rss-fill"></i> Subscribe</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="row row-cols-1  g-3">
    {% for item in results %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ item.url }}" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="blank">{{ item.title }}</a>
                </h5>
                <div class="card-text">{{ item.description }}</div>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                  <div class="me-auto text-secondary text-truncate">{{ item.authors }}</div>
                  <div class="px-3">{{ item.published.strftime('%d.%m.%Y') }}</div>
                  <div>{{ item.provider }}</div>
                </div>     
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
