{% extends "base.html" %}
{% block subheader %}
<nav class="border-bottom bg-body">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <a href="/scholar?q={{ query }}" class="nav-link link-body-emphasis px-2"><i class="bi bi-rss-fill"></i> Subscribe</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="row row-cols-1  g-3">
    {% for item in results %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </div>
                <div class="card-text">{{ item.description }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
